
      <% if @user.errors.any? %>
        error!!
        <ul>
          <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>

<div class="container">
  <div class="row">
    <div class="px-5 mx-auto">
      <h1>User info</h1>
      <%= form_with model: @user do |f| %>
      <div class="form-group">
        <label for="inputName">Name</label><br>
        <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"Name" %>
      </div>
      <div class="form-group">
        <label for="inputImage">Image</label><br>
        <%= f.file_field :profile_image, placeholder: "Profile Image", accept: "image/*" %>
      </div>
      <div class="form-group">
        <label for="inputIntroduction">Introduction</label><br>
        <%= f.text_area :introduction, id:"inputName", placeholder:"Introduction" %>
      </div>
      <%= f.submit "Update User" %>
      <% end %>
    </div>
  </div>
</div>