<% if @user.errors.any? %>
    Error!!
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
<% end %>

<h1>User info</h1>
<%= form_with model: @user do |f| %>
<label for="inputName">Name</label>
<%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"Name" %>
<label for="inputImage">Image</label>
<%= f.file_field :profile_image, placeholder: "Profile Image", accept: "image/*" %>
<label for="inputIntroduction">Introduction</label>
<%= f.text_area :introduction, id:"inputName", placeholder:"Introduction" %>
<%= f.submit "Update User" %>
<% end %>
