<%= flash[:notice] %>
<div>
  <%= render 'users/show', user: @user %>
  <%= render 'new', book: @book %>
</div>

<h1>Book detail</h1>
<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <td><%= image_tag @book_detail.user.get_profile_image(63, 63) %><br>
    <%= @book_detail.user.name %></td>
    <td><%= @book_detail.title %></td>
    <td><%= @book_detail.body %></td>
    <% if @book_detail.user == current_user %>
    <td><%= link_to "Destroy", book_path(@book_detail), method: :delete %></td>
    <% end %>
    <% if @book_detail.user == current_user %>
    <td><%= link_to "Edit", edit_book_path(@book_detail.id) %></td>
    <% end %>
  </tr>
</table>
